<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>bush.png</key>
			<dict>
				<key>frame</key>
				<string>{{129,600},{70,26}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,44},{70,26}}</string>
				<key>sourceSize</key>
				<string>{70,70}</string>
			</dict>

			<key>bush1.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,360},{216,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{216,72}}</string>
				<key>sourceSize</key>
				<string>{216,72}</string>
			</dict>

			<key>cloud1.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,577},{128,71}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{128,71}}</string>
				<key>sourceSize</key>
				<string>{128,71}</string>
			</dict>

			<key>cloud2.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,433},{129,71}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{129,71}}</string>
				<key>sourceSize</key>
				<string>{129,71}</string>
			</dict>

			<key>cloud3.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,505},{129,71}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{129,71}}</string>
				<key>sourceSize</key>
				<string>{129,71}</string>
			</dict>

			<key>groundDirt.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,216},{808,71}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{808,71}}</string>
				<key>sourceSize</key>
				<string>{808,71}</string>
			</dict>

			<key>groundGrass.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,288},{808,71}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{808,71}}</string>
				<key>sourceSize</key>
				<string>{808,71}</string>
			</dict>

			<key>groundIce.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,72},{808,71}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{808,71}}</string>
				<key>sourceSize</key>
				<string>{808,71}</string>
			</dict>

			<key>groundRock.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{808,71}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{808,71}}</string>
				<key>sourceSize</key>
				<string>{808,71}</string>
			</dict>

			<key>groundSnow.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,144},{808,71}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{808,71}}</string>
				<key>sourceSize</key>
				<string>{808,71}</string>
			</dict>

			<key>hill_large.png</key>
			<dict>
				<key>frame</key>
				<string>{{717,626},{48,146}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{48,146}}</string>
				<key>sourceSize</key>
				<string>{48,146}</string>
			</dict>

			<key>hill_largeAlt.png</key>
			<dict>
				<key>frame</key>
				<string>{{743,360},{48,146}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{48,146}}</string>
				<key>sourceSize</key>
				<string>{48,146}</string>
			</dict>

			<key>hill_small.png</key>
			<dict>
				<key>frame</key>
				<string>{{668,733},{48,106}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{48,106}}</string>
				<key>sourceSize</key>
				<string>{48,106}</string>
			</dict>

			<key>hill_smallAlt.png</key>
			<dict>
				<key>frame</key>
				<string>{{668,626},{48,106}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{48,106}}</string>
				<key>sourceSize</key>
				<string>{48,106}</string>
			</dict>

			<key>meteorBrown_big1.png</key>
			<dict>
				<key>frame</key>
				<string>{{102,748},{101,84}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{101,84}}</string>
				<key>sourceSize</key>
				<string>{101,84}</string>
			</dict>

			<key>meteorBrown_big2.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,649},{120,98}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{120,98}}</string>
				<key>sourceSize</key>
				<string>{120,98}</string>
			</dict>

			<key>meteorBrown_big3.png</key>
			<dict>
				<key>frame</key>
				<string>{{653,443},{89,82}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{89,82}}</string>
				<key>sourceSize</key>
				<string>{89,82}</string>
			</dict>

			<key>meteorBrown_big4.png</key>
			<dict>
				<key>frame</key>
				<string>{{569,600},{98,96}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{98,96}}</string>
				<key>sourceSize</key>
				<string>{98,96}</string>
			</dict>

			<key>meteorBrown_med1.png</key>
			<dict>
				<key>frame</key>
				<string>{{711,526},{43,43}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{43,43}}</string>
				<key>sourceSize</key>
				<string>{43,43}</string>
			</dict>

			<key>meteorBrown_med3.png</key>
			<dict>
				<key>frame</key>
				<string>{{569,794},{45,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{45,40}}</string>
				<key>sourceSize</key>
				<string>{45,40}</string>
			</dict>

			<key>meteorBrown_small1.png</key>
			<dict>
				<key>frame</key>
				<string>{{204,804},{28,28}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{28,28}}</string>
				<key>sourceSize</key>
				<string>{28,28}</string>
			</dict>

			<key>meteorBrown_small2.png</key>
			<dict>
				<key>frame</key>
				<string>{{200,600},{29,26}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{29,26}}</string>
				<key>sourceSize</key>
				<string>{29,26}</string>
			</dict>

			<key>meteorBrown_tiny1.png</key>
			<dict>
				<key>frame</key>
				<string>{{200,627},{18,18}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{18,18}}</string>
				<key>sourceSize</key>
				<string>{18,18}</string>
			</dict>

			<key>meteorBrown_tiny2.png</key>
			<dict>
				<key>frame</key>
				<string>{{200,576},{16,15}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{16,15}}</string>
				<key>sourceSize</key>
				<string>{16,15}</string>
			</dict>

			<key>meteorGrey_big1.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,748},{101,84}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{101,84}}</string>
				<key>sourceSize</key>
				<string>{101,84}</string>
			</dict>

			<key>meteorGrey_big2.png</key>
			<dict>
				<key>frame</key>
				<string>{{121,649},{120,98}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{120,98}}</string>
				<key>sourceSize</key>
				<string>{120,98}</string>
			</dict>

			<key>meteorGrey_big3.png</key>
			<dict>
				<key>frame</key>
				<string>{{653,360},{89,82}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{89,82}}</string>
				<key>sourceSize</key>
				<string>{89,82}</string>
			</dict>

			<key>meteorGrey_big4.png</key>
			<dict>
				<key>frame</key>
				<string>{{569,697},{98,96}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{98,96}}</string>
				<key>sourceSize</key>
				<string>{98,96}</string>
			</dict>

			<key>meteorGrey_med1.png</key>
			<dict>
				<key>frame</key>
				<string>{{717,773},{43,43}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{43,43}}</string>
				<key>sourceSize</key>
				<string>{43,43}</string>
			</dict>

			<key>meteorGrey_med2.png</key>
			<dict>
				<key>frame</key>
				<string>{{615,794},{45,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{45,40}}</string>
				<key>sourceSize</key>
				<string>{45,40}</string>
			</dict>

			<key>meteorGrey_small1.png</key>
			<dict>
				<key>frame</key>
				<string>{{204,775},{28,28}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{28,28}}</string>
				<key>sourceSize</key>
				<string>{28,28}</string>
			</dict>

			<key>meteorGrey_small2.png</key>
			<dict>
				<key>frame</key>
				<string>{{204,748},{29,26}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{29,26}}</string>
				<key>sourceSize</key>
				<string>{29,26}</string>
			</dict>

			<key>meteorGrey_tiny1.png</key>
			<dict>
				<key>frame</key>
				<string>{{219,627},{18,18}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{18,18}}</string>
				<key>sourceSize</key>
				<string>{18,18}</string>
			</dict>

			<key>meteorGrey_tiny2.png</key>
			<dict>
				<key>frame</key>
				<string>{{717,817},{16,15}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{16,15}}</string>
				<key>sourceSize</key>
				<string>{16,15}</string>
			</dict>

			<key>rock.png</key>
			<dict>
				<key>frame</key>
				<string>{{130,475},{70,41}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,29},{70,41}}</string>
				<key>sourceSize</key>
				<string>{70,70}</string>
			</dict>

			<key>rockAlt.png</key>
			<dict>
				<key>frame</key>
				<string>{{668,576},{57,49}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{8,21},{57,49}}</string>
				<key>sourceSize</key>
				<string>{70,70}</string>
			</dict>

			<key>rockDefault.png</key>
			<dict>
				<key>frame</key>
				<string>{{130,517},{70,41}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,29},{70,41}}</string>
				<key>sourceSize</key>
				<string>{70,70}</string>
			</dict>

			<key>rockDown.png</key>
			<dict>
				<key>frame</key>
				<string>{{217,360},{108,239}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{108,239}}</string>
				<key>sourceSize</key>
				<string>{108,239}</string>
			</dict>

			<key>rockGrass.png</key>
			<dict>
				<key>frame</key>
				<string>{{326,360},{108,239}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{108,239}}</string>
				<key>sourceSize</key>
				<string>{108,239}</string>
			</dict>

			<key>rockGrassDown.png</key>
			<dict>
				<key>frame</key>
				<string>{{242,600},{108,239}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{108,239}}</string>
				<key>sourceSize</key>
				<string>{108,239}</string>
			</dict>

			<key>rockIce.png</key>
			<dict>
				<key>frame</key>
				<string>{{544,360},{108,239}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{108,239}}</string>
				<key>sourceSize</key>
				<string>{108,239}</string>
			</dict>

			<key>rockIceDown.png</key>
			<dict>
				<key>frame</key>
				<string>{{460,600},{108,239}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{108,239}}</string>
				<key>sourceSize</key>
				<string>{108,239}</string>
			</dict>

			<key>rockMoss.png</key>
			<dict>
				<key>frame</key>
				<string>{{130,433},{70,41}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,29},{70,41}}</string>
				<key>sourceSize</key>
				<string>{70,70}</string>
			</dict>

			<key>rockMossAlt.png</key>
			<dict>
				<key>frame</key>
				<string>{{653,526},{57,49}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{6,21},{57,49}}</string>
				<key>sourceSize</key>
				<string>{70,70}</string>
			</dict>

			<key>rockSnow.png</key>
			<dict>
				<key>frame</key>
				<string>{{351,600},{108,239}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{108,239}}</string>
				<key>sourceSize</key>
				<string>{108,239}</string>
			</dict>

			<key>rockSnowDown.png</key>
			<dict>
				<key>frame</key>
				<string>{{435,360},{108,239}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{108,239}}</string>
				<key>sourceSize</key>
				<string>{108,239}</string>
			</dict>

			<key>snowHillLow.png</key>
			<dict>
				<key>frame</key>
				<string>{{129,577},{70,10}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,60},{70,10}}</string>
				<key>sourceSize</key>
				<string>{70,70}</string>
			</dict>

			<key>snowWave.png</key>
			<dict>
				<key>frame</key>
				<string>{{129,627},{70,15}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,55},{70,15}}</string>
				<key>sourceSize</key>
				<string>{70,70}</string>
			</dict>

			<key>snowhill.png</key>
			<dict>
				<key>frame</key>
				<string>{{130,559},{70,16}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,54},{70,16}}</string>
				<key>sourceSize</key>
				<string>{70,70}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{809,840}</string>
			<key>textureFileName</key>
			<string>background.png</string>
			</dict>
		</dict>
</plist>