<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>3d_blue.png</key>
			<dict>
				<key>frame</key>
				<string>{{274,130},{64,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{64,64}}</string>
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>

			<key>3d_green.png</key>
			<dict>
				<key>frame</key>
				<string>{{144,138},{64,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{64,64}}</string>
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>

			<key>3d_grey.png</key>
			<dict>
				<key>frame</key>
				<string>{{134,258},{64,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{64,64}}</string>
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>

			<key>3d_paper.png</key>
			<dict>
				<key>frame</key>
				<string>{{130,432},{64,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{64,64}}</string>
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>

			<key>3d_red.png</key>
			<dict>
				<key>frame</key>
				<string>{{145,65},{64,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{64,64}}</string>
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>

			<key>3d_sand.png</key>
			<dict>
				<key>frame</key>
				<string>{{195,323},{64,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{64,64}}</string>
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>

			<key>3d_stone.png</key>
			<dict>
				<key>frame</key>
				<string>{{65,367},{64,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{64,64}}</string>
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>

			<key>3d_wood.png</key>
			<dict>
				<key>frame</key>
				<string>{{65,432},{64,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{64,64}}</string>
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>

			<key>3d_yellow.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,432},{64,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{64,64}}</string>
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>

			<key>blue.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,367},{64,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{64,64}}</string>
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>

			<key>castleLedgeLeft.png</key>
			<dict>
				<key>frame</key>
				<string>{{311,463},{5,22}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{5,22}}</string>
				<key>sourceSize</key>
				<string>{5,22}</string>
			</dict>

			<key>castleLedgeRight.png</key>
			<dict>
				<key>frame</key>
				<string>{{435,65},{5,22}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{5,22}}</string>
				<key>sourceSize</key>
				<string>{5,22}</string>
			</dict>

			<key>dirtLedgeLeft.png</key>
			<dict>
				<key>frame</key>
				<string>{{199,298},{5,18}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{5,18}}</string>
				<key>sourceSize</key>
				<string>{5,18}</string>
			</dict>

			<key>dirtLedgeRight.png</key>
			<dict>
				<key>frame</key>
				<string>{{435,107},{5,18}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{5,18}}</string>
				<key>sourceSize</key>
				<string>{5,18}</string>
			</dict>

			<key>fire00.png</key>
			<dict>
				<key>frame</key>
				<string>{{177,323},{16,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{16,40}}</string>
				<key>sourceSize</key>
				<string>{16,40}</string>
			</dict>

			<key>fire01.png</key>
			<dict>
				<key>frame</key>
				<string>{{251,463},{14,31}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{14,31}}</string>
				<key>sourceSize</key>
				<string>{14,31}</string>
			</dict>

			<key>fire02.png</key>
			<dict>
				<key>frame</key>
				<string>{{342,455},{14,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{14,32}}</string>
				<key>sourceSize</key>
				<string>{14,32}</string>
			</dict>

			<key>fire03.png</key>
			<dict>
				<key>frame</key>
				<string>{{357,455},{14,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{14,34}}</string>
				<key>sourceSize</key>
				<string>{14,34}</string>
			</dict>

			<key>fire04.png</key>
			<dict>
				<key>frame</key>
				<string>{{402,455},{14,31}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{14,31}}</string>
				<key>sourceSize</key>
				<string>{14,31}</string>
			</dict>

			<key>fire05.png</key>
			<dict>
				<key>frame</key>
				<string>{{420,97},{14,31}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{14,31}}</string>
				<key>sourceSize</key>
				<string>{14,31}</string>
			</dict>

			<key>fire06.png</key>
			<dict>
				<key>frame</key>
				<string>{{405,97},{14,31}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{14,31}}</string>
				<key>sourceSize</key>
				<string>{14,31}</string>
			</dict>

			<key>fire07.png</key>
			<dict>
				<key>frame</key>
				<string>{{420,65},{14,31}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{14,31}}</string>
				<key>sourceSize</key>
				<string>{14,31}</string>
			</dict>

			<key>fire08.png</key>
			<dict>
				<key>frame</key>
				<string>{{217,453},{16,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{16,40}}</string>
				<key>sourceSize</key>
				<string>{16,40}</string>
			</dict>

			<key>fire09.png</key>
			<dict>
				<key>frame</key>
				<string>{{219,268},{16,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{16,40}}</string>
				<key>sourceSize</key>
				<string>{16,40}</string>
			</dict>

			<key>fire10.png</key>
			<dict>
				<key>frame</key>
				<string>{{236,268},{16,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{16,40}}</string>
				<key>sourceSize</key>
				<string>{16,40}</string>
			</dict>

			<key>fire11.png</key>
			<dict>
				<key>frame</key>
				<string>{{281,463},{14,31}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{14,31}}</string>
				<key>sourceSize</key>
				<string>{14,31}</string>
			</dict>

			<key>fire12.png</key>
			<dict>
				<key>frame</key>
				<string>{{296,463},{14,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{14,32}}</string>
				<key>sourceSize</key>
				<string>{14,32}</string>
			</dict>

			<key>fire13.png</key>
			<dict>
				<key>frame</key>
				<string>{{417,455},{14,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{14,34}}</string>
				<key>sourceSize</key>
				<string>{14,34}</string>
			</dict>

			<key>fire14.png</key>
			<dict>
				<key>frame</key>
				<string>{{405,65},{14,31}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{14,31}}</string>
				<key>sourceSize</key>
				<string>{14,31}</string>
			</dict>

			<key>fire15.png</key>
			<dict>
				<key>frame</key>
				<string>{{266,463},{14,31}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{14,31}}</string>
				<key>sourceSize</key>
				<string>{14,31}</string>
			</dict>

			<key>fire16.png</key>
			<dict>
				<key>frame</key>
				<string>{{387,455},{14,31}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{14,31}}</string>
				<key>sourceSize</key>
				<string>{14,31}</string>
			</dict>

			<key>fire17.png</key>
			<dict>
				<key>frame</key>
				<string>{{372,455},{14,31}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{14,31}}</string>
				<key>sourceSize</key>
				<string>{14,31}</string>
			</dict>

			<key>fire18.png</key>
			<dict>
				<key>frame</key>
				<string>{{234,453},{16,41}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{16,41}}</string>
				<key>sourceSize</key>
				<string>{16,41}</string>
			</dict>

			<key>fire19.png</key>
			<dict>
				<key>frame</key>
				<string>{{325,455},{16,41}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{16,41}}</string>
				<key>sourceSize</key>
				<string>{16,41}</string>
			</dict>

			<key>grassLedgeLeft.png</key>
			<dict>
				<key>frame</key>
				<string>{{317,463},{5,24}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{5,24}}</string>
				<key>sourceSize</key>
				<string>{5,24}</string>
			</dict>

			<key>grassLedgeRight.png</key>
			<dict>
				<key>frame</key>
				<string>{{432,455},{5,24}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{5,24}}</string>
				<key>sourceSize</key>
				<string>{5,24}</string>
			</dict>

			<key>green.png</key>
			<dict>
				<key>frame</key>
				<string>{{145,0},{64,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{64,64}}</string>
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>

			<key>grey.png</key>
			<dict>
				<key>frame</key>
				<string>{{130,367},{64,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{64,64}}</string>
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>

			<key>paper.png</key>
			<dict>
				<key>frame</key>
				<string>{{325,325},{64,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{64,64}}</string>
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>

			<key>particleBrick1a.png</key>
			<dict>
				<key>frame</key>
				<string>{{199,283},{19,14}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{19,14}}</string>
				<key>sourceSize</key>
				<string>{19,14}</string>
			</dict>

			<key>particleBrick1b.png</key>
			<dict>
				<key>frame</key>
				<string>{{195,475},{21,21}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{21,21}}</string>
				<key>sourceSize</key>
				<string>{21,21}</string>
			</dict>

			<key>particleBrick2a.png</key>
			<dict>
				<key>frame</key>
				<string>{{199,268},{19,14}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{19,14}}</string>
				<key>sourceSize</key>
				<string>{19,14}</string>
			</dict>

			<key>particleBrick2b.png</key>
			<dict>
				<key>frame</key>
				<string>{{195,453},{21,21}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{21,21}}</string>
				<key>sourceSize</key>
				<string>{21,21}</string>
			</dict>

			<key>puffLarge.png</key>
			<dict>
				<key>frame</key>
				<string>{{134,323},{42,35}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{42,35}}</string>
				<key>sourceSize</key>
				<string>{42,35}</string>
			</dict>

			<key>puffSmall.png</key>
			<dict>
				<key>frame</key>
				<string>{{170,203},{25,21}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{25,21}}</string>
				<key>sourceSize</key>
				<string>{25,21}</string>
			</dict>

			<key>red.png</key>
			<dict>
				<key>frame</key>
				<string>{{390,390},{64,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{64,64}}</string>
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>

			<key>sand.png</key>
			<dict>
				<key>frame</key>
				<string>{{405,0},{64,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{64,64}}</string>
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>

			<key>sandLedgeLeft.png</key>
			<dict>
				<key>frame</key>
				<string>{{253,268},{5,18}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{5,18}}</string>
				<key>sourceSize</key>
				<string>{5,18}</string>
			</dict>

			<key>sandLedgeRight.png</key>
			<dict>
				<key>frame</key>
				<string>{{205,298},{5,18}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{5,18}}</string>
				<key>sourceSize</key>
				<string>{5,18}</string>
			</dict>

			<key>shield1.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,258},{133,108}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{133,108}}</string>
				<key>sourceSize</key>
				<string>{133,108}</string>
			</dict>

			<key>shield2.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,138},{143,119}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{143,119}}</string>
				<key>sourceSize</key>
				<string>{143,119}</string>
			</dict>

			<key>shield3.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{144,137}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{144,137}}</string>
				<key>sourceSize</key>
				<string>{144,137}</string>
			</dict>

			<key>snowLedgeLeft.png</key>
			<dict>
				<key>frame</key>
				<string>{{438,455},{5,18}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{5,18}}</string>
				<key>sourceSize</key>
				<string>{5,18}</string>
			</dict>

			<key>snowLedgeRight.png</key>
			<dict>
				<key>frame</key>
				<string>{{435,88},{5,18}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{5,18}}</string>
				<key>sourceSize</key>
				<string>{5,18}</string>
			</dict>

			<key>square_blue.png</key>
			<dict>
				<key>frame</key>
				<string>{{325,390},{64,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{64,64}}</string>
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>

			<key>square_green.png</key>
			<dict>
				<key>frame</key>
				<string>{{390,325},{64,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{64,64}}</string>
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>

			<key>square_grey.png</key>
			<dict>
				<key>frame</key>
				<string>{{404,130},{64,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{64,64}}</string>
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>

			<key>square_paper.png</key>
			<dict>
				<key>frame</key>
				<string>{{394,195},{64,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{64,64}}</string>
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>

			<key>square_red.png</key>
			<dict>
				<key>frame</key>
				<string>{{390,260},{64,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{64,64}}</string>
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>

			<key>square_sand.png</key>
			<dict>
				<key>frame</key>
				<string>{{340,65},{64,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{64,64}}</string>
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>

			<key>square_stone.png</key>
			<dict>
				<key>frame</key>
				<string>{{340,0},{64,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{64,64}}</string>
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>

			<key>square_wood.png</key>
			<dict>
				<key>frame</key>
				<string>{{339,130},{64,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{64,64}}</string>
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>

			<key>square_yellow.png</key>
			<dict>
				<key>frame</key>
				<string>{{329,195},{64,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{64,64}}</string>
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>

			<key>star1.png</key>
			<dict>
				<key>frame</key>
				<string>{{144,228},{25,24}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{25,24}}</string>
				<key>sourceSize</key>
				<string>{25,24}</string>
			</dict>

			<key>star2.png</key>
			<dict>
				<key>frame</key>
				<string>{{144,203},{25,24}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{25,24}}</string>
				<key>sourceSize</key>
				<string>{25,24}</string>
			</dict>

			<key>star3.png</key>
			<dict>
				<key>frame</key>
				<string>{{170,225},{24,24}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{24,24}}</string>
				<key>sourceSize</key>
				<string>{24,24}</string>
			</dict>

			<key>stone.png</key>
			<dict>
				<key>frame</key>
				<string>{{275,65},{64,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{64,64}}</string>
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>

			<key>stoneLedgeLeft.png</key>
			<dict>
				<key>frame</key>
				<string>{{253,287},{5,24}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{5,24}}</string>
				<key>sourceSize</key>
				<string>{5,24}</string>
			</dict>

			<key>stoneLedgeRight.png</key>
			<dict>
				<key>frame</key>
				<string>{{211,298},{5,24}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{5,24}}</string>
				<key>sourceSize</key>
				<string>{5,24}</string>
			</dict>

			<key>thick_blue.png</key>
			<dict>
				<key>frame</key>
				<string>{{264,195},{64,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{64,64}}</string>
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>

			<key>thick_green.png</key>
			<dict>
				<key>frame</key>
				<string>{{260,398},{64,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{64,64}}</string>
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>

			<key>thick_grey.png</key>
			<dict>
				<key>frame</key>
				<string>{{260,333},{64,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{64,64}}</string>
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>

			<key>thick_paper.png</key>
			<dict>
				<key>frame</key>
				<string>{{260,268},{64,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{64,64}}</string>
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>

			<key>thick_red.png</key>
			<dict>
				<key>frame</key>
				<string>{{210,65},{64,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{64,64}}</string>
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>

			<key>thick_sand.png</key>
			<dict>
				<key>frame</key>
				<string>{{210,0},{64,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{64,64}}</string>
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>

			<key>thick_stone.png</key>
			<dict>
				<key>frame</key>
				<string>{{209,130},{64,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{64,64}}</string>
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>

			<key>thick_wood.png</key>
			<dict>
				<key>frame</key>
				<string>{{199,203},{64,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{64,64}}</string>
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>

			<key>thick_yellow.png</key>
			<dict>
				<key>frame</key>
				<string>{{195,388},{64,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{64,64}}</string>
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>

			<key>wood.png</key>
			<dict>
				<key>frame</key>
				<string>{{325,260},{64,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{64,64}}</string>
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>

			<key>yellow.png</key>
			<dict>
				<key>frame</key>
				<string>{{275,0},{64,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{64,64}}</string>
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{470,497}</string>
			<key>textureFileName</key>
			<string>particles.png</string>
			</dict>
		</dict>
</plist>